<?xml version="1.0"?>
<launch>

  <arg name="dir" default="$(env HOME)/usb_cam_video"/>

  <!-- usb cam launch -->
  <arg name="usb_cam" default="false"/>
  <group if="$(arg audio)">
    <include file="$(find usb_cam)/launch/usb_cam-test.launch">
      <arg name="device" value="/dev/video0" />
    </include>
  </group>

  <!-- video_record -->
  <arg name="video" default="false"/>
  <group if="$(arg video)">
    <include file="$(find image_view_ts)/launch/video_capture.launch">
      <arg name="dst" value="$(arg dir)" />
    </include>
  </group>

  <!-- audio_record -->
  <arg name="audio" default="false"/>
  <group if="$(arg audio)">
    <include file="$(find recorder)/launch/capture_to_file.launch">
      <arg name="device" value="hw:2"/>
      <arg name="dst" value="$(arg dir)" />
    </include>
  </group>

</launch>
